.form-container, .input-container {
	background: $grey;
	padding: 7px 20px 20px 20px;
	margin-bottom: 20px;
	min-width: 225px;
	&.container-on-right { margin-left: 20px; }
}
.form-container {	margin-bottom: 35px; }

.success-message {
	a { text-decoration: none; }
	p { margin-bottom: 10px; }
	img.success-icon { height: 13px; padding: 0 13px; }
}

.form-row { margin-bottom: 10px; }

body, textarea, input {
  font-family: 'Source Sans Pro', sans-serif;
}

textarea,
input[type=text],
input[type=search],
input[type=number],
input[type=password],
.amountInputContainer,
.dropzone  {
  background: $dark-grey;
  padding: 10px;
  color: $off-white;
  border: solid 1px $input-border-color;
  outline: none;
  border-radius: $border-radius;
  font-size: 13px;

	-webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;

	// &.is-valid { border: 1px solid $blue;	}
	&:focus {
		border-color: $bright-grey;
		outline: none;
		&.is-valid { border: 1px solid $blue;	}
	}
	&.error {	border: 1px solid $red;	}
}

.select-contract { position: relative; }

.with-input-on-right { margin-right: 21px; }

.chosenAssetName, .chosenContractName {
	display: inline;
  position: absolute;
  right: 1.5px;
  top: 41px;
  padding: 11px;
	font-size: 12px;
  text-transform: uppercase;
	border-left: solid 1px $input-border-color;
	color: $blue;
	background: $dark-grey-2;
}

.chosenContractName { top: 1px; }

.amountInputContainer {
	padding: 0px;
	width: 280px;

	&.is-focused {
		border-color: $bright-grey;
		&.error {	border: 1px solid $red;	}
	}

	.maxAmount {
		padding: 12px 10px 0px 0px;
		width: 100px;
		text-align: right;
		color: $blue;
		white-space: nowrap;
	}

	.amountArrows {
		height: 100%;
		background: $dark-grey-2;
		border-left: 1px solid $input-border-color;
		border-radius: 0 2px 2px 0;
		svg { color: $blue; }
		svg.fa-angle-up { padding: 4px 11px 0px 11px; }
		svg.fa-angle-down { padding: 0px 11px 5px 11px; }
	}

	input#amount {
		width: 100%;
		outline: none;
		border: none;
		padding: 0px 0px 0px 10px;
		background: transparent;
		color: $off-white;
		line-height: 2.2rem;
	}

	input#amount::-webkit-inner-spin-button,
	input#amount::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&.asset-chosen {
		input#amount { width: 129.4px; }
	}

}

.input-message {
	text-transform: uppercase;
	font-size: 12px;
	padding: 7px 3px;
	letter-spacing: 0.4px;
	color: $blue;
	text-align: left;

	&.error { color: $red; }

	svg { padding: 0 5px; }
}

.upload-contract-dropzone {
	position: relative;

	.dropzone  {
		background-color: $dark-grey-2;
		p { display: inline; }
		// &.file-chosen {  }
		&.active { border: 1px solid $blue; }
	}

	a.cancel-button {
		position: absolute;
		right: 137px;
		padding: 11px;
		img { height: 11px; }
	}

}

.success-icon { height: 13px; }

label {
  line-height: 2.5rem;
  color: $bright-grey;
  font-size: 1rem;
}

select::-ms-expand { display: none; }

select {
  padding: 11px;
  font-size: 12px;
  background: $secondary-grey;
  outline: none;
  border-radius: $border-radius;
  border: $input-border-color;
  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }

}

label.checkbox {

	&:hover {
		input ~ .rc-checkbox-inner { background-color: $dark-grey-d; }
		input:checked ~ .rc-checkbox-inner { background-color: $blue; }
	}

	.checkbox-text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.29;
		color: $bright-grey;
		position: relative;
		top: 2px;
		cursor: pointer;
	}
}

/* The container */
.rc-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

	/* Hide the browser's default checkbox */
	input { position: absolute; opacity: 0;	cursor: pointer; }

	/* On mouse-over, add a grey background color */
	&:hover input ~ .rc-checkbox-inner { background-color: $dark-grey-d; }

	/* When the checkbox is checked, add a blue background */
	input:checked ~ .rc-checkbox-inner { background-color: $blue; }

	/* Show the checkbox when checked */
	input:checked ~ .rc-checkbox-inner:after { display: block; }

	/* Style the checkbox/indicator */
	.rc-checkbox-inner:after {
		left: 8px;
		top: 3px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	/* Create a custom checkbox */
	.rc-checkbox-inner {
		position: absolute;
		top: 0;
		left: 0;
		height: 22px;
		width: 22px;
		background-color: $dark-grey;
		border: 1px solid $border-color;
		border-radius: 2px;

		/* Create the checkbox/indicator (hidden when not checked) */
		&:after {
			content: "";
			position: absolute;
			display: none;
		}

	}

	&.rc-checkbox-checked {

		.rc-checkbox-inner {
			background-color: $blue;
			border: 1px solid $blue;
		}

	}

}


.input-group {

	border: solid 1px $input-border-color;
	background: $dark-grey;
	border-radius: 2px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  padding: 0.4px;

	&.valid {
		border: 1px solid $blue;
		.fa.fa-check { color: $blue; }
	}
  &.error {
  	border: 1px solid $red;
		.fa.fa-times { color: $red; }
  }

	input.input-group-field {
		border: none;

		font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;

    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    height: auto;
    min-width: 0;

    box-sizing: border-box;
	}

	.input-group-label {
		padding: 0 12px;
		text-align: center;
		white-space: nowrap;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;

		&.show-password {
			cursor: pointer;

			i.fa {
				&:hover { color: $light-white; }
				&:focus { color: $off-white; }
				&:active { color: $off-white; }
			}
		}

		&.with-background {
			background: $dark-grey-2;
			color: $light-white;
			font-size: 12px;

			&:first-child { border: none; border-right: 1px solid $input-border-color; }
			&:last-child { border: none; border-left: 1px solid $input-border-color; }
		}
	}


}

.input-icon {
	position: absolute;
	top: 11px;
	right: 14px;

	&.error {
		color: $red;
	}
	&.valid {
		color: $blue;
	}
}


.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}
