$grey: #181818;
$dark-grey: #121212;
$dark-grey-2: #191919;
$dark-grey-d: darken($dark-grey, 2.5%);
$light-grey: #1c1c1c;
$bright-grey: #949494;

$grey-text-color: #808080;

$secondary-grey: #333333;

$dark-black: #121214;

$almost-black: #090909;

$blue: #2f8be6;
.blue { color: $blue; }
$blue-hover: #3296fa;
$blue-focus: #297acc;
$blue-focus-border: #6ca6de;
$blue-disabled: #1b446c;

$blue-l: lighten($blue, 10%);
$bright-blue: #2cb1df;
.bright-blue { color: $bright-blue; }

$light-blue: #83d6f3;
$light-white: #e6e6e6;
$topbar-height: 100px;
$off-white: #f2f2f2;
$border-color: #232323;
$input-border-color: #313241;

$border-radius: 2px;

$red: #fd3a3a;
.red { color: $red; }
$red-hover: #ff4d4d;
$red-focus: #e33434;
$red-disabled: #6b1919;

$code-pink: #ab58a5;
$code-yellow: #b27d4e;
$code-grey: #96a1a8;


$orange: #fd913a;

$green: #42b255;
.green { color: $green; }

$light-green: #95f2a5;
.light-green { color: $light-green; }

// Buttons

$button-grey: #333333;
$button-grey-hover: #424242;
$button-grey-focus: #292929;
$button-grey-disabled: #1f1f1f;

$bg-color: $dark-grey;
$bg-color-d: darken($bg-color, 5%);
$bg-color-l: lighten($bg-color, 7.5%);


// Tables

$table-row-hover: #242424;

// Components
$sidebar-width: 230px;
