ul { list-style: none; }

nav.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $grey;
  border-right: 1px solid $almost-black;
  font-family: 'Roboto', sans-serif;

  .logo {
    padding: 24px;
    height: 44px;
    img { height: 42px; }
  }

  .menu {
    height: calc(100% - 285px);
    position: relative;
  }

  .network-status {
    padding: 20px 0px 0px 20px;
    border-top: 1px solid $almost-black;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.42;
    color: $bright-grey;

    .data-name { font-weight: 400; }
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    li:last-child { margin-top: auto; }
    span {
      display: block;
      padding: 15px;
      color: rgba(255,255,255,.5);
      text-transform: uppercase;
      border-bottom: 1px solid $bg-color-d;
    }

    a {
      position: relative;
      text-transform: uppercase;
      display: block;
      padding: 6px 10px 6px 24px;
      color: $bright-grey;
      text-decoration: none;
      line-height: 1.5rem;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.7px;

      &.active {
        background: $light-grey;
        color: $off-white;
        font-weight: 400;
        border-left: 1px solid $light-blue;
        padding: 6px 15px 6px 23px;
        box-shadow: 0px 2px 2px 	0 rgba(0, 0, 0, 0.2);
        width: 192px;
      }

    }

    a:hover { color: $light-white; }
    a:focus {
      background: $light-grey;
      width: 197px;
    }

    a:before {
      top: 15px;
      left: 18px;
    }

    li:nth-child(1) a:before { background-image: url('assets/img/nav/wallet.png'); }
    // li:nth-child(2) a:before { content: '\f09d'; }
    // li:nth-child(3) a:before { content: '\f15c'; }
    // li:nth-child(4) a:before { content: '\f024'; }
    // li:nth-child(5) a:before { content: '\f002'; }
    // li:last-child   a:before { content: '\f013'; }
  }
}
